.player{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    background-color: #333333;
    padding: 8px 16px;
    height: auto;
    margin: 32px;
    border-radius: 16px;
    transition-property: background-color;
    transition-duration: .3s;
    justify-content: space-between;
}

.player:hover{
    background-color: #666666;
}

.player h2{
    font-size: 45px;
    line-height: 50px;
}

.icon{
    width: 60px;
    height: auto;
    padding: 8px;
}

html{
    background-color: #111111;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0 auto;
    padding: 0px;
}

.name{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 80px;
    padding: 8px;
}

.name img{
    padding: 0px 16px 0px 0px;
}

header{
    background-color: #333333;
    margin: 0px;
    color: white;
    font-family: sans-serif;
    font-size: 36px;
    padding: 16px 40px 24px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

header a{
    text-decoration: none;
    color: white;
    padding: 0px;
    margin: 0px 50px 0px 0px;
    font-family: sans-serif;
    font-size: 36px;
    transition-property: background-color;
    transition-duration: .3s;
}

header a:hover{
    background-color: blue;
}

header h1{
    margin: 0px;
    padding: 0px;
}

main{
    display: flex;
    flex-flow: column;
    width: 90%;
    margin: 24px auto;
}

.lanes img{
    height: 40px;
    width: auto;
    padding: 8px;
    margin: 8px 0px 0px;
}

.champs img{
    height: 48px;
    width: auto;
    padding: 4px;
    margin: 6px 0px 0px;
}

.champs{
    padding: 8px;
}

.lanes{
    padding: 8px;
}

.bronze{
    border: solid #885745 3px;
}

.silver{
    border: solid #68797c 3px;
}

.gold{
    border: solid #d3c286 3px;
}

.platinum{
    border: solid #8db7b4 3px;
}

.diamond{
    border: solid #a8b0e7 3px;
}
